<h1>ngx-easymde</h1>

<p>An Angular wrapper for the <a href="https://easymde.tk/">Easy MarkDown Editor</a> originally derived from <a href="https://cipchk.github.io/ngx-simplemde/">Angular for simplemde(Markdown Editor) by 卡色 cipchk</a>.</p>

<h2>With Default Settings</h2>

<p>The editor with default settings.</p>

<easymde [(ngModel)]="demo"></easymde>

<h2>With a Customized Toolbar</h2>

<p>Toolbar with only Bold, Italic, Heading toggle, Blockquote, Preview and Fullscreen buttons.</p>
<easymde
  [(ngModel)]="customize"
  [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote', '|', 'preview', 'fullscreen'] }">
</easymde>

<h2>With Autosaving</h2>

<p>The editor can automatically save its contents to prevent changes when you reload the page.</p>
<easymde
  id="ndx-easymde-autosave-demo"
  #easymde
  [(ngModel)]="autoSaving"
  [options]="autoSavingOptions">
</easymde>

<h2>With Hidden Toolbar and Status Bar</h2>

<easymde
  [(ngModel)]="hiddenToolbar"
  [options]="{ toolbar: false, status: false, renderingConfig: { codeSyntaxHighlighting: true } }">
</easymde>

<h2>With Event Handling</h2>

<easymde
  [(ngModel)]="eventContent"
  (onChange)="onChange($event)"
  (onBlur)="onBlur($event)">
</easymde>

<h2>Within Reactive Forms</h2>

You're not limitied to template driven forms; the component also works with reactive forms.

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <easymde
    formControlName="text"
    [options]="{ hideIcons: ['side-by-side'], renderingConfig: { codeSyntaxHighlighting: true } }">
  </easymde>
  <button class="btn btn-primary" type="submit" [disabled]="fg.invalid">Submit</button>
  <button class="btn" (click)="setDisabledForForm()">{{this.buttonText}}</button>
</form>
