<h1>ngx-easymde</h1>

<p class="mt-3 mb-3">An Angular wrapper for <a href="https://easymde.tk/">Easy MarkDown Editor</a></p>

<h2>Default Settings</h2>

<p>The editor with default settings.</p>

<easymde [(ngModel)]="demo"></easymde>
<markdown [data]="demoCode"></markdown>

<h2>Via Modal Dialog</h2>

<p>Display the editor in a modal dialog.</p>

<button class="btn btn-primary" (click)="ngxSmartModalService.getModal('exampleModal').open()">Display Dialog</button>
<ngx-smart-modal #exampleModal identifier="exampleModal">
  <easymde [(ngModel)]="modal"></easymde>
  <button (click)="exampleModal.close()">Close</button>
</ngx-smart-modal>

<markdown [data]="modalCode"></markdown>

<h2>Customized Toolbar</h2>

<p>Limiting the toolbar to only Bold, Italic, Heading, Quote, and Preview.</p>
<easymde
  [(ngModel)]="customize"
  [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote', '|', 'preview'] }">
</easymde>
<markdown [data]="customizeCode"></markdown>

<h2>Autosaving</h2>

<p>The editor can automatically save its contents to prevent changes when you reload the page.</p>
<easymde
  id="ndx-easymde-autosave-demo"
  #easymde
  [(ngModel)]="autoSaving"
  [options]="autoSavingOptions">
</easymde>
<markdown [data]="autoSavingCode"></markdown>

<h2>Hidden Toolbar and Status Bar</h2>

<easymde
  [(ngModel)]="hiddenToolbar"
  [options]="{ toolbar: false, status: false, renderingConfig: { codeSyntaxHighlighting: true } }">
</easymde>
<markdown [data]="hiddenToolbarCode"></markdown>

<h2>Event Handling</h2>

<p>How to setup event handlers</p>

<easymde
  [(ngModel)]="eventContent"
  (onChange)="onChange($event)"
  (onBlur)="onBlur($event)">
</easymde>
<markdown [data]="eventContentCode"></markdown>

<h2>Reactive Forms</h2>

You're not limitied to template driven forms; the component also works with reactive forms.

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <easymde
    formControlName="text"
    [options]="{ hideIcons: ['side-by-side'], renderingConfig: { codeSyntaxHighlighting: true } }">
  </easymde>
  <button class="btn btn-primary" type="submit" [disabled]="fg.invalid">Submit</button>
  <button class="btn" (click)="setDisabledForForm()">{{this.buttonText}}</button>
</form>
<markdown [data]="reactiveFormsCode"></markdown>
