@import '../lib/index';

$code-background-color: #f0f0f0;
$code-foreground-color: #0e445d;
$code-pre-border-color: #d1d1d1;
$codemirror-error-text-decoration-color: #f00;
$blockquote-background-color: #f9f9f9;
$blockquote-border-left-color: #ccc;

.editor-preview {
  pre {
    border-style: none;
    font: 1rem Consolas,Menlo,'Andale Mono','Lucida Console','Lucida Sans Typewriter','DejaVu Sans Mono','Bitstream Vera Sans Mono','Liberation Mono','Nimbus Mono L',Monaco,'Courier New',Courier,monospace;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: .8rem;
    word-wrap: normal;
  }

  .code pre,
  code {
    background-color: $code-background-color;
    border: none 0;
    border-radius: .3rem;
    color: $code-foreground-color;
    font: 1rem Consolas,Menlo,'Andale Mono','Lucida Console','Lucida Sans Typewriter','DejaVu Sans Mono','Bitstream Vera Sans Mono','Liberation Mono','Nimbus Mono L',Monaco,'Courier New',Courier,monospace;
    word-wrap: normal;
  }

  .code pre {
    border: solid 1px $code-pre-border-color;
  }
}

body {
  font: 1rem Constantia,'Lucida Bright',Lucidabright,'Lucida Serif',Lucida,'DejaVu Serif','Bitstream Vera Serif','Liberation Serif',Georgia,serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Corbel,'Lucida Grande','Lucida Sans Unicode','DejaVu Sans','Bitstream Vera Sans','Liberation Sans',Verdana,'Verdana Ref',sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

h5 {
  font-size: 1.6rem;
  font-weight: lighter;
}

h6 {
  font-size: 1.2rem;
  font-weight: lighter;
}

.cm-spell-error {
  text-decoration: underline;
  text-decoration-color: $codemirror-error-text-decoration-color;
}

blockquote {
  background: $blockquote-background-color;
  border-left: 10px solid $blockquote-border-left-color;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: '\201C''\201D''\2018''\2019';

  p {
    display: inline;
  }
}
