@import '../lib/index.less';

.editor-preview {
  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas,Menlo,'Andale Mono','Lucida Console','Lucida Sans Typewriter','DejaVu Sans Mono','Bitstream Vera Sans Mono','Liberation Mono','Nimbus Mono L',Monaco,'Courier New',Courier,monospace;
    color: #0e445d;
    word-wrap: normal;
    background-color: #dfdfdf;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
  }
}

body {
  font: 1rem Constantia,'Lucida Bright',Lucidabright,'Lucida Serif',Lucida,'DejaVu Serif','Bitstream Vera Serif','Liberation Serif',Georgia,serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Corbel,'Lucida Grande','Lucida Sans Unicode','DejaVu Sans','Bitstream Vera Sans','Liberation Sans',Verdana,'Verdana Ref',sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

h5 {
  font-size: 1.6rem;
  font-weight: lighter;
}

h6 {
  font-size: 1.2rem;
  font-weight: lighter;
}

.cm-spell-error {
  text-decoration: underline;
  text-decoration-color: red;
}
